.App {
  text-align: center;
  text-transform: uppercase;
  height: 100px;
  width: 100%;
  background: aliceblue;
}
.App-2
{
  text-align: center;
  background: aqua;
  margin: 30px 0 30px 0;
  height: 400px;
  width: 100%;
}
.App ul li a{
  margin: 10px;
  text-decoration: none;

}
ul {
  list-style-type: none;
}
.App ul li a:hover
{
 color: orange;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
